@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@source "../../backup/web/templates/";
@source "../../backup/web/static/";
@source "../../budget/static/";
@source "../../budget/templates/";
@source "../../news/static/";
@source "../../notes/static/";
@source "../../notes/assets/";
@source "../../qcraft/static/";
@source "../../qcraft/templates/";
@source "../../dash/templates/";
@source "../../dash/static/";
@source "../../amp/static/";

@theme {
    --font-sans: "Urbanist", system-ui, sans-serif;
    --font-mono: "JetBrains Mono", ui-monospace, monospace;
    --color-primary-50: #eff6ff;
    --color-primary-100: #dbeafe;
    --color-primary-200: #bfdbfe;
    --color-primary-300: #93c5fd;
    --color-primary-400: #60a5fa;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4ed8;
    --color-primary-800: #1e40af;
    --color-primary-900: #1e3a8a;
    --color-primary-950: #172554;
}
